@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');


body{
	font-family: 'Roboto', sans serif;
	font-size: 16px;
	font-weight: 500;
	color: #333B41;
	width: 100%;
	margin: 0;
	padding: 0;	
}

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}


.container{
	width: 1190px;
	padding: 0 15px;
	margin: 0 auto;
}

li,a,h1,h2,button{
	color: #fff;
	text-decoration: none;
}

button{
	display: block;
	margin: 0 auto;
	background: var(--orange);
	border: none;
	border-radius: 25px;
	padding: 16px 90px;
	text-transform: uppercase;
	line-height: 140%;
	cursor: pointer;
}

:root {
  --orange: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  --button-hover: #F9804B;
  --pink-gradient: linear-gradient(rgba(254, 189, 171, 0.74),rgba(243, 169, 248, 0.66),rgba(224, 216, 240, 1),rgba(234, 247, 254, 1),rgba(234, 247, 254, 1)) ;
} 


/*Header*/

.logo-title{
	font-weight: 400;
	font-size: 19.0145px;
	line-height: 120%;
	text-align: center;
	width: 82px;
	position: absolute;
	top: 20px;
	color: #fff
}

.wrap-header{
	display: flex;
	gap: 63px;
}

.header{
	position: relative;
	width: 100%;
	background-color: #000;
	position: relative;
	z-index: 5;
}

.header-top{
	display: flex;
	align-items: center;
	gap: 58px;
	z-index: 5;
}

.menu{
	list-style-type: none;
}

.top-menu{
	text-decoration: none;
}

.logo{
	padding: 15px 0;
	cursor: pointer;
}


.righted{
	margin-left: auto;
}


.orang{
	color: #F9804B;
}

.top-menu:not(.orang):hover{
	color: #F9804B;
}

.disabled {
  pointer-events: none;
}

/*header-content*/
.header-content{
	height: 700px;
}

.header-content-background{
	background: url('../../assets/images/GiantPanda.png') no-repeat;
	position: absolute;
	background-size: 100% 100%;
	background-position: top center;
	top: 0;
	left: 0;
	width: 100%;
	height: 780px;
}	

.wrap{
	position: relative;
}

.wrap-content{
	position: absolute;
	width: 500px;
	z-index: 10;
	left: 42.5vw;
	top: 11vw;
}

.header-content-title{
	font-weight: 700;
	font-size: max(6.96vw,85px);
	line-height: 75%;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: max(4vw,40px);
}

.header-content-title span{
	color: #FFEE2E;
}

.circle{
	width: max(30.5vw, 367px);
	height: max(30.5vw, 367px);
	border-radius: 100%;
	background: var(--orange);
	position: absolute;
	left: 37vw;
	top: 96px;
}

/*Section Backstage*/

.backstage{
	position: relative;
	width: 100%;
	margin-bottom: 180px;
}

img.bamboo-cap{
	width: 609px;
	padding-right: 87px;
}

.wrap-backstage{
	display: flex;
	height: 403px;
	margin-top: 140px;
}


.overflow{
	position: absolute;
	right: 0;
	top: -120px;
	width: 180px;
	overflow: hidden;
}

.backstage-content-description{
	width: 465px;
}

.backstage-title{
	font-weight: 400;
	font-size: 48px;
	line-height: 120%;
	margin-bottom: 20px;
}

.backstage-subtitle{
	font-weight: 400;
	font-size: 24px;
	line-height: 120%;
	margin-top: 54px;
	margin-bottom: 34px;
}

.backstage-description{
	font-weight: 400;
	font-size: 16px;
	line-height: 130%;
}

/*Section animal cards*/

.wrap-cards{
	display: flex;
	flex-wrap: wrap;
	column-gap: 30px;
	row-gap: 20px;
}

.wrap-card-text{
	display: flex;
	justify-content: space-between;
	padding: 10px 16px;
}

.card{
	width: 366px;
	border: 1px solid #F9804B;
	border-radius: 5px;
	z-index: 15;
}

.card-title{
	font-size: 16px;
	line-height: 140%;
	text-transform: uppercase;
	color: #000000;
}

.card-description{
	font-weight: 300;
	font-size: 15px;
	line-height: 120%;
	color: #000000;
}

.wrap-img:before{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, .5);
	opacity: 0;
	transition: all .4s ease;
	z-index: 2;
}

.wrap-img{
	position: relative;
	overflow: hidden;
}

.card-img{
	width: 100%;
}

.card:hover .wrap-img:before {
	opacity: 1;
}

.card:hover .text-cards{
	transform: translateY(-60px);
	transition: all .4s ease;
	z-index: 5;
}

.card:hover .card-title {
	color: #fff;
}

.card:hover .card-description{
	color: #fff
}

.card:hover .card-icon{
	display: none;
}

.card:hover .card-img{
	transform: scale(1.1);
	transition: all .4s ease;
}

.button-btn-animal{
	position: relative;
}

.animal-cards{
	background: #fe9013;
	padding: 16px 58px;
	top: -800px;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width: 298px;
	height: 54px;
	z-index: 100;
	position: absolute;
}


.animal-cards:hover{
	background: var(--button-hover);
	cursor: pointer;
}

.arrow-left,.arrow-right{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 62px;
	height: 62px;
	border-radius: 100%;
	background: var(--orange);
}

.arrow-left:hover,.arrow-right:hover{
	cursor: pointer;
	background: var(--button-hover);
}

.arrows{
	display: flex;
	width: 1324px;
	position: absolute;
	top: 37%;
	z-index: 10;
}

.animals-card{
	position: relative;
	height: 1107px
}

.arrow-left{
	margin-right: auto;
}

.container-arrow{
	width: 1325px;
	margin: 0 auto;
}

.wrap-img-animal{
	position: relative;
	width: 100%;
	overflow: hidden;
	top: -274px;
	height: 500px;
}

.strelitzia{
	position: absolute;
	top: 223px;
	right: 0;
}

.palm-foto{
	position: absolute;
	top: 39px;
	right: 82vw;
}

/*THE END Section animals-card*/

/*pick-and-feed*/
.wrap-pick-container{
	background: rgba(253, 253, 255, 0.52);
	border-radius: 20px;
	backdrop-filter: blur(2px);
	z-index: 15;
	height: 835px;
	padding-left: 99px;
}

.pick-and-feed{
	background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
	height: 1004px;
	padding-top: 70px;
}

.pick-title{
	font-weight: 400;
	font-size: 48px;
	line-height: 120%;
	text-align: center;
	color: #FE9013;
	padding-top: 41px;
	padding-bottom: 30px;
}

.subtitle{
	font-weight: 400;
	font-size: 24px;
	line-height: 120%;
	padding-bottom: 40px;
}

.pick{
	line-height: 130%;
	padding-bottom: 10px;
}

.pick a{
	border-bottom: 1px solid #FE9013;
	color:#333B41;	
}

.how-it-works{
	padding-top: 50px;
	padding-bottom: 40px;
	font-weight: 400;
	font-size: 36px;
	line-height: 130%;
	text-align: center;
}

.pick-icons{
	display: flex;
	justify-content: center;
	gap: 30px;
	padding-bottom: 60px;
}

.pick-icons>img{
	position: relative;
	top: -30px;
}


.pick-icon p{
	width: 168px;
	padding-top: 30px;
}

.pick-icon img{
	background: #fff;
	border: 1px solid #FE9013;
}

.card-icon img{
	padding: 54px 30px;
}

.zoo img{
	padding: 38px 41px 35px 41.23px;
}

.monkey img{
	padding: 48px 21.25px 48.4px 22px;
}

button.pick-end{
	padding: 16px 74px;
	/*width: 298px;
	height: 54px;*/
}

/*Testimonials*/
.wrap-testimonials{
	display: flex;
	gap: 10px;
}

.wrap-cards-testimonials{
	display: flex;
	gap: 30px;
}

.card-testimonials{
	height: 407px;
	width: 268px;
	background: #F1F3F2;
	position: relative;
	border-radius: 20px;
	margin-bottom: 60px;
}

.card-testimonials:before {
  content: "";
  position: absolute;
  top: -2px;
  bottom: -2px;
  left: -2px;
  right: -2px;
  background: var(--pink-gradient);
  border-radius: 24px;
  z-index: -1;
}

.description-testimonials{
	height: 315px;
	padding: 10px 15px 19px 16px;
	overflow: hidden;
	font-weight: 300;
	font-size: 15px;
	line-height: 120%;
	color: #767474;
}

.wrap-testimonials{
	padding: 15px 0 0 16px;
}


.testimonials-title{
	margin-top: 140px;
	padding-bottom: 47px;
	text-align: center;
	font-weight: 400;
	font-size: 36px;
	line-height: 130%;
}


.progress-line{
	width: 599px;
	height: 8px;
	display: block;
	margin: 0 auto;
	margin-bottom: 31px;
	margin-top: -41px;
	appearance: none;
	background: #F5F7F6;
	border-radius: 5px;
	position: relative;
	border: 1px solid;
}

.progress-line::-webkit-slider-thumb {
	appearance: none;
}

.progress-line:after{
	content: "";
  position: absolute;
  top: -2px;
  bottom: -2px;
  left: -2px;
  right: -2px;
  background: var(--pink-gradient);
  border-radius: 9px;
  z-index: -1;
}

.progress-line:before{
	content: '';
	display: block;
  width: 20%;
  height: 100%;
  background: #FE9013;
}

.testimonials-btn{
	margin: 0;
	border-radius: 5px;
}

/*Footer*/

.footer{
	height: 443px;
	width: 100%;
	background: rgba(17, 17, 21, 1);
	padding-bottom: 50px;
	margin-top: 180px;
}

.title-footer{
	color: #fff;
	position: absolute;
	top: 20px;
}

.logo-footer{
	position: relative;
	margin: 0;
	padding-bottom: 62px;
	margin-top: 41px;
}

.social-circle-icon{
	width: 26px;
	height: 26px;
	border-radius: 100%;
	background: rgba(196, 196, 196, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
}

.social-icon{
	display: flex;
	align-items: center;
}

.protection-site{
	font-weight: 100;
	line-height: 130%;
	color: #FFFFFF;
	display: flex;
	justify-content: right;
	padding-bottom: 10px;
	font-size: 16px;
}

.wrap-footer{
	display: grid;
	grid-template-columns: repeat(3,1fr);
}

.footer-btn{
	border-radius: 5px;
	padding: 16px 44px;
	margin: 0;
}

.wrap-social-icons{
	padding-top: 44px;
}

.social-icon{
	padding-bottom: 10px;
}

.social-circle-icon{
	margin-right: 12px;
}


.social-icon-text{
	font-weight: 400;
	line-height: 140%;
	color: #FFFFFF;
}

.footer-column-two{
	margin-top: 382px;	
}

.email-footer{
	background: #000;
	border: 1px solid orange;
	padding: 10px;
	border-radius: 5px;
}
.email-footer::placeholder{
	color: #BDBDBD
}

.btn-email-footer{
	background: #F1F3F2;
	border: 1px solid #4B9200;
	border-radius: 5px;
	color: green;
	padding: 10px 39px;
	margin: 0;
}

.subtitle-email{
	font-weight: 400;
	font-size: 24px;
	line-height: 120%;
	color: #FFFFFF;
	padding-top: 40px;
	padding-bottom: 14px;
}

.footer-column-three{
	padding-left: 32px;
}

.email{
	padding-bottom: 230px;
}

form{
	display: flex;
	gap: 10px;
}

.social-icon:hover{
	cursor: pointer;
}

.facebook:hover{
	background: #3b5998;
	
}

.twitter:hover{
	background: #00acee;
}

.instagram:hover{
	background: #3f729b;
}

.youtube:hover{
	background: #c4302b;
}
/*The end Footer*/

button:hover{
	background: var(--button-hover);
}